<div class="bg-white h-full w-full max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8 flex flex-col justify-center text-center items-center gap-4">
  <h2 class="text-base font-semibold text-indigo-600 tracking-wide uppercase">
    Business Factory LLC
  </h2>
  <p class="text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">
    DALL-E Hangman
  </p>
  <p class="max-w-xl mx-auto text-xl text-gray-500">
    A web game about guessing the phrase used to create AI-generated images
  </p>
  <div class="flex space-x-2">
    <app-new-lobby-button></app-new-lobby-button>
    <!-- <div> -->
    <!--   <button class="btn-primary" routerLink="generate">New Submission</button> -->
    <!-- </div> -->
  </div>
</div>
