<div *ngIf="(auth.me$ | async) as user; else loggingIn">
  <div class="flex-shrink-0 flex border-t border-gray-200 p-4  cursor-pointer" (click)="toggle()">
    <a class="flex-shrink-0 group block">
      <div class="flex items-center">
        <div>
          <img class="inline-block h-10 w-10 rounded-full" [src]="user.name |adventurerUrl" alt="">
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-gray-500 group-hover:text-gray-700">Change name:</p>
          <p class="text-base font-medium text-gray-700 group-hover:text-gray-900">{{user.name}}</p>
        </div>
      </div>
    </a>
  </div>
  <!-- start Edit name modal -->
  <div [ngClass]="showModal ? 'opacity-100 block': 'opacity-0 hidden'" class="relative z-10 "
    aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class=" fixed inset-0 bg-gray-500 bg-opacity-75"></div>

    <div class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
        <div
          class="relative bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full sm:p-6">
          <div>
            <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
              <img [src]="user.name |adventurerUrl" />
            </div>
            <div class="mt-3 text-left sm:mt-5">
              <h3 class="text-lg text-center leading-6 font-medium text-gray-900" id="modal-title">Current name:
                {{user.name}}</h3>
              <div class="mt-2">
                <!-- <p class="text-sm text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius aliquam laudantium explicabo pariatur iste dolorem animi vitae error totam. At sapiente aliquam accusamus facere veritatis.</p> -->
                <label for="name" class="block text-sm font-medium text-gray-700">New Name:</label>
                <div class="mt-1">
                  <input (keyup.enter)="updateName(user)" type="text" id="name"
                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                    [placeholder]="placeholder" [(ngModel)]="newName" />
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
            <button (click)="updateName(user)" type="button"
              class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:col-start-2 sm:text-sm">Save</button>
            <button (click)="exitModal()" type="button"
              class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end name modal -->

</div>

<ng-template #loggingIn>
  <p>Logging in...</p>
</ng-template>