<div *ngIf="(auth.me$ | async) as user; else loggingIn">
  <div class="flex-shrink-0 flex border-t border-gray-200 p-4  cursor-pointer" (click)="openModal()">
    <a class="flex-shrink-0 group block">
      <div class="flex items-center">
        <div>
          <img class="inline-block h-10 w-10 rounded-full" [src]="user.name |adventurerUrl" alt="">
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-gray-500 group-hover:text-gray-700">Change name:</p>
          <p class="text-base font-medium text-gray-700 group-hover:text-gray-900">{{user.name}}</p>
        </div>
      </div>
    </a>
  </div>

</div>

<ng-template #loggingIn>
  <p>Logging in...</p>
</ng-template>