<p>lobbydoc$ in lobby.component: {{lobbyService.lobbyDoc$|async|json}}</p>
<app-right-guesses></app-right-guesses>
<app-wrong-guesses></app-wrong-guesses>
<!-- <app-dalle-images></app-dalle-images> -->
<app-guess-input></app-guess-input>
<app-scoreboard></app-scoreboard>
<app-change-name></app-change-name>
<!-- <div class="min-h-screen bg-gray-200">

  <div  *ngIf="(lobbyDoc$ |async) as lobbyData">
    <div class="py-6">
      <div class="max-w-3xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="hidden lg:block lg:col-span-3 xl:col-span-2">
          <nav aria-label="Sidebar" class="sticky top-6 divide-y divide-gray-300">
            <div class="bg-white h-72"></div>
          </nav>
        </div>
        <main class="lg:col-span-9 xl:col-span-6">
  
          <app-dalle-images [dalleId]="lobbyData.dalleId"></app-dalle-images>
  
  
        </main>
        <aside class="hidden xl:block xl:col-span-4">
          <div class="sticky top-6 space-y-4">
  
            <app-wrong-guesses class="bg-white" [guesses]="lobbyData.wrongGuesses"></app-wrong-guesses>
  
          </div>
        </aside>
      </div>
    </div>

  </div>
</div> -->